name: CI/CD

on:
  workflow_dispatch:
  release:
    types:
      - published
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write

jobs:
  test:
    if: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/heads/main') }}
    uses: carlthome/workflows/.github/workflows/python.yaml@main
    with:
      package-name: "audioscrape"
      package-index-name: TestPyPI
      package-index-url: https://test.pypi.org/legacy

  release:
    if: ${{ github.event_name == 'release' && github.event.action == 'published' }}
    uses: carlthome/workflows/.github/workflows/python.yaml@main
    with:
      package-name: "audioscrape"
      package-index-name: PyPI
      package-index-url: https://pypi.org
